<div class="columns">
  <div class="column">
    {{#each events}}
    <div class="box box-link-hover-shadow">
      <h2 class="title">
        {{title}}
      </h2>
      <a href="/event/{{_id}}" class="button">
        <span class="icon is-small">
          <i class="fas fa-folder-open"></i>
        </span>
      </a>
      <a href="/dashboard/deleteevent/{{_id}}" class="button">
        <i class="fas fa-trash"></i>
      </a>
    </div>
    {{/each}}
  </div>
  <div class="column">
    {{#each events.private}}
    <div class="box box-link-hover-shadow">
      <h2 class="title">
        {{privateTitle}}
      </h2>
      <a href="/privateevent/{{_id}}" class="button">
        <span class="icon is-small">
          <i class="fas fa-folder-open"></i>
        </span>
      </a>
      <a href="/dashboard/deleteprivateevent/{{_id}}" class="button">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  {{/each}}
  </div>
</div>

