<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Stadium</th>
      <th>Competition</th>
      <th>City</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {{#each event.stadiums}}
      <tr>
        <td>
          {{stadium}}
        </td>
        <td>
          {{competition}}
        </td>
        <td>
          {{city}}
        </td>
        <td>
          {{rating}}
        </td>
        <td>
          <a href="/event/{{../event._id}}/deletestadium/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>